<% if (page.total > 1) { %>
  <nav class="pagination">
    <div class="pagination-content">
      <% if (page.prev) { %>
        <a href="<%- url_for(page.prev_link) %>" class="pagination-prev">
          <i class="fas fa-chevron-left"></i>
          上一页
        </a>
      <% } %>
      
      <div class="pagination-info">
        第 <%= page.current %> 页，共 <%= page.total %> 页
      </div>
      
      <% if (page.next) { %>
        <a href="<%- url_for(page.next_link) %>" class="pagination-next">
          下一页
          <i class="fas fa-chevron-right"></i>
        </a>
      <% } %>
    </div>
  </nav>
<% } %>
